.rst-content {
    dl.std.confval {
        background-color: theme-color-level('info', -11);
        margin-bottom: $spacer * 1;
        padding-bottom: $spacer * .3;
        & > dt {
            padding: .25em .5em;
            font-size: $h3-font-size;
            .descname {
                color: $code-color;
            }
        }
    }
}

.rst-content {
    dl.php.class {
        background-color: theme-color-level('info', -11);
        margin-bottom: $spacer * 1;
        padding-bottom: $spacer * .3;
        & > dt {
            padding: .25em .5em;
            font-size: $h3-font-size;
            .descname {
                color: $code-color;
            }
        }
    }
}
