//
// directive .. confval::
//

$confval-bg: hsl(0, 0%, 96%);
$confval-dt-bg: hsl(0, 0%, 90%);
$confval-dt-border: #666666;
.rst-content {
    dl.std.confval {
        background-color: $confval-bg;
        border-radius: $border-radius;
        margin-bottom: $spacer * 1.5;
        padding-bottom: $spacer * .3;
        & > dt {
            background-color: $confval-dt-bg;
            border-radius: $border-radius;
            border-top: solid 3px $confval-dt-border;
            display: inline-block;
            font-size: $h4-font-size;
            font-family: $font-family-monospace;
            padding: .25em .5em;
            margin-bottom: .75em;
        }
        & > dd {
            margin-right: 1rem;
        }
    }
}
