// --------------------------------------------------
// Colors, defined in Bootstrap variables
// --------------------------------------------------
// $body-bg
// $body-color

// --------------------------------------------------
// Colors
// --------------------------------------------------

$white:             #ffffff;
$gray-100:          #f2f2f2;
$gray-200:          #e9e9e9;
$gray-300:          #dedede;
$gray-400:          #cecece;
$gray-500:          #ababab;
$gray-600:          #6c6c6c;
$gray-700:          #494949;
$gray-800:          #313131;
$gray-900:          #212121;
$black:             #000000;

$primary:           #ff8700;
$success:           #5cb85c;
$info:              #5bc0de;
$warning:           #f0ad4e;
$danger:            #d9534f;

$link-color:                   $primary;
$link-hover-color:             darken($link-color, 15%);
$link-alternate-color:         #ffffff;
$link-alternate-hover-color:   darken($link-alternate-color, 15%);

$yiq-contrasted-threshold: 160;

//
// directive .. confval::
//

$confval-bg: hsl(0, 0%, 96%);
$confval-dt-bg: hsl(0, 0%, 90%);
$confval-dt-border: #666666;

//
// Code Colors
// --------------------------------------------------
$code-color:        hsl(350, 100%, 40%);
//
$code-color-bash:   hsl(0, 100%, 0%);
$code-color-css:    hsl(275, 100%, 40%);
$code-color-file:   hsl(328, 100%, 50%);
$code-color-html:   hsl(275, 100%, 40%);
$code-color-js:     hsl(128, 100%, 20%);
$code-color-method: hsl(210, 100%, 35%);
$code-color-php:    hsl(210, 100%, 30%);
$code-color-py:     hsl(210, 100%, 50%);
$code-color-rst:    hsl(175, 100%, 15%);
$code-color-shell:  hsl(0, 100%, 0%);
$code-color-sql:    hsl(175, 100%, 15%);
$code-color-typoscript: hsl(12, 100%, 20%);
$code-color-xml:    hsl(275, 100%, 40%);
$code-color-yaml:   hsl(170, 80%, 25%);

//
// Fonts
// --------------------------------------------------
$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Source Code Pro', monospace;
$font-weight-bold: 600;

$h1-font-size: 2em;
$h2-font-size: 1.75em;
$h3-font-size: 1.5em;
$h4-font-size: 1.25em;
$h5-font-size: 1em;
$h6-font-size: .85em;

$headings-font-weight: $font-weight-bold;
$headings-margin-bottom: .5em;

//
// Components
// --------------------------------------------------
$box-shadow-sm: 0 2px 4px 0 rgba(0, 0, 0, .2);

//
// Cards
// --------------------------------------------------
$card-spacer-y: 1.25rem;
$card-spacer-x: 1.25rem;

//
// Table
// --------------------------------------------------
$table-bg:          $white;

//
// Grid
// --------------------------------------------------
$grid-gutter-width: 40px;

// base16 styling guides
// https://github.com/chriskempson/base16/blob/main/styling.md
// base00 - Default Background
// base01 - Lighter Background (Used for status bars, line number and folding marks)
// base02 - Selection Background
// base03 - Comments, Invisibles, Line Highlighting
// base04 - Dark Foreground (Used for status bars)
// base05 - Default Foreground, Caret, Delimiters, Operators
// base06 - Light Foreground (Not often used)
// base07 - Light Background (Not often used)
// base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
// base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
// base0A - Classes, Markup Bold, Search Text Background
// base0B - Strings, Inherited Class, Markup Code, Diff Inserted
// base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
// base0D - Functions, Methods, Attribute IDs, Headings
// base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
// base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>

// for not yet understood rules
$base16-baseXX: #000000;

// Atelier Estuary Light by Bram de Haan (http://atelierbramdehaan.nl)
$base16-base00: #f4f3ec;
$base16-base01: #e7e6df;
$base16-base02: #929181;
$base16-base03: #878573;
$base16-base04: #6c6b5a;
$base16-base05: #5f5e4e;
$base16-base06: #302f27;
$base16-base07: #22221b;
$base16-base08: #ba6236;
$base16-base09: #ae7313;
$base16-base0A: #a5980d;
$base16-base0B: #7d9726;
$base16-base0C: #5b9d48;
$base16-base0D: #36a166;
$base16-base0E: #5f9182;
$base16-base0F: #9d6c7c;

/* Equilibrium Light by Carlo Abelli - a nice light theme */
$base16-base00: #f5f0e7;
$base16-base01: #e7e2d9;
$base16-base02: #d8d4cb;
$base16-base03: #73777f;
$base16-base04: #5a5f66;
$base16-base05: #43474e;
$base16-base06: #2c3138;
$base16-base07: #181c22;
$base16-base08: #d02023;
$base16-base09: #bf3e05;
$base16-base0A: #9d6f00;
$base16-base0B: #637200;
$base16-base0C: #007a72;
$base16-base0D: #0073b5;
$base16-base0E: #4e66b6;
$base16-base0F: #c42775;

//
// Base 16 Scheme
// Used by TYPO3 since beginning of sphinx_typo3_theme
// --------------------------------------------------
// helper tool https://imagecolorpicker.com/color-code/212121
//
$base16-base00:     hsl(000, 0%, 13%);  //#212121;
$base16-base01:     hsl(200, 19%, 22%);  //#2e3c43;
$base16-base02:     hsl(190, 20%, 24%);  //#314549; .hll
$base16-base03:     hsl(199, 18%, 40%);  //#546e7a;
$base16-base04:     hsl(197, 31%, 77%);  //#b2ccd6; .gp, .sd
$base16-base05:     hsl(180, 100%, 97%);  //#eeffff; .c, .c1, .cm, .cp, .cs
$base16-base06:     hsl(180, 100%, 97%);  //#eeffff; .p, .x
$base16-base07:     hsl(000, 0%, 100%);  //#ffffff; .bp, .gh, .n, .nb, .ni, .nl, .py, .w
$base16-base08:     hsl(357, 81%, 69%);  //#f07178; .err, .gd, .ld, .ne, .no, .nv, .vc, .vg, .vi
$base16-base09:     hsl(14, 90%, 70%);  //#f78c6c; .il, .l, .se, .si
$base16-base0A:     hsl(39, 100%, 71%);  //#ffcb6b; .kt, .m, .mf, .mh, .mi, .mo, .nc, .nn
$base16-base0B:     hsl(84, 66%, 73%);  //#c3e88d; .gi, .na, .nf, .nx
$base16-base0C:     hsl(197, 100%, 77%);  //#89ddff; .gu, .kn, .nd, .nt, .ow
$base16-base0D:     hsl(221, 100%, 75%);  //#82aaff; .s, .s1, .s2, .sb, .sc, .sh, .sr, .ss, .sx
$base16-base0E:     hsl(276, 68%, 75%);  //#c792ea; .k, .kc, .kd, .kp, .kr
$base16-base0F:     hsl(350, 100%, 66%);  //#ff5370; .o
:root {
    --base16-base00: #{$base16-base00};
    --base16-base01: #{$base16-base01};
    --base16-base02: #{$base16-base02};
    --base16-base03: #{$base16-base03};
    --base16-base04: #{$base16-base04};
    --base16-base05: #{$base16-base05};
    --base16-base06: #{$base16-base06};
    --base16-base07: #{$base16-base07};
    --base16-base08: #{$base16-base08};
    --base16-base09: #{$base16-base09};
    --base16-base0A: #{$base16-base0A};
    --base16-base0B: #{$base16-base0B};
    --base16-base0C: #{$base16-base0C};
    --base16-base0D: #{$base16-base0D};
    --base16-base0E: #{$base16-base0E};
    --base16-base0F: #{$base16-base0F};
    // explicite names we are using
    --base16-baseXX: #{$base16-baseXX}; // for given but not understood classes
    --base16-baseBG: #{$base16-base00}; // background
    --base16-baseBO: #{$base16-base00}; // border
    --base16-baseFG: #{$base16-base05}; // foreground
}
